<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bf372">  <td>21/06/15 18:45:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinibenchmarkPageTest.Minitest()[pri:1, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">Minitest</td> 
  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="8bf372">  <td>21/06/15 18:46:42</td>   <td>95438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinibenchmarkPageTest.Minitesterrorvalidation()[pri:2, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">Minitesterrorvalidation</td> 
  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="8bf372">  <td>21/06/15 18:46:05</td>   <td>59092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MinibenchmarkPageTest.Minitestretake()[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">Minitestretake</td> 
  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>21/06/15 18:46:20</td>   <td>73510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization()[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>21/06/15 18:46:20</td>   <td>73510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization()[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>21/06/15 18:46:20</td>   <td>73510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.initialization()[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">&gt;&gt;initialization</td> 
<td>&nbsp;</td>  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>21/06/15 18:46:55</td>   <td>108364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>21/06/15 18:46:55</td>   <td>108364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1926343982</td>   <td></td> </tr>
<tr bgcolor="89cf83">  <td>21/06/15 18:46:55</td>   <td>108364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(org.testng.ITestResult)[pri:0, instance:gleac.testcases.MinibenchmarkPageTest@3cc2931c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1926343982</td>   <td></td> </tr>
</table>
